# =====================================
# DEPENDENCIAS
# =====================================
node_modules/

# =====================================
# VARIABLES DE ENTORNO
# =====================================
.env
.env.local
.env.production

# =====================================
# BUILD / DIST
# =====================================
dist/
dist-ssr/
build/

# =====================================
# LOGS
# =====================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================================
# PRISMA
# =====================================
/backend/src/generated/prisma

# =====================================
# DOCKER
# =====================================
postgres_data/

# =====================================
# VS CODE
# =====================================
.vscode/*
!.vscode/extensions.json

# =====================================
# EDITORES / IDEs
# =====================================
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================================
# WINDOWS
# =====================================
Thumbs.db
desktop.ini
Desktop.ini

# =====================================
# MACOS
# =====================================
.DS_Store
*.local