# Dependencias
node_modules/

# Variables de entorno (NUNCA subir al repo)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Docker volumes
postgres_data/

# VS Code
.vscode/settings.json

# Windows
Thumbs.db
desktop.ini